.split-pane-md.split-pane-visible > .split-pane-side {
  min-width: inherit;
  max-width: inherit;
  width: 200px;
  flex-grow: 0;
  flex-basis: 250px;
}

ion-menu ion-icon {
  margin-right: 20px;
}

ion-item {
  --ion-color-contrast: #393939;
}

.split-pane-main ion-title {
  text-align: center;
}

.card-content-md + .card-content-md,
.card-content-ios + .card-content-ios {
  padding-top: 0;
}

ion-chip {
  margin: 0;
}

:root {
  --ion-color-warning: #d0aa0d;
}

ion-card-content > ion-button {
  margin-bottom: 12px;
}

ion-card-content > ion-button:last-child {
  margin-bottom: 0;
}

.ion-color-success {
  --ion-color-success-rgb: 0, 112, 44;
  --ion-color-success-shade: #008333;
}

ion-button.md {
  text-transform: inherit;
  font-size: 15px;
  line-height: 26px;
  height: 40px;
}

.modal-wrapper.sc-ion-modal-md {
  --min-height: 0;
  --height: auto;
  --max-height: inherit;
}

.modal-wrapper.sc-ion-modal-md .ion-page {
  display: block;
  position: static;
  contain: inherit;
}

ion-checkbox + ion-label {
  margin-left: 12px;
}

br {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

ion-list.list-md,
ion-list.list-ios {
  padding-top: 0;
}
